body {
  background: url("./img/bg-default.jpg") no-repeat center;
  background-attachment: fixed;
  margin: 0;
}
body .container {
  background: rgba(0,0,0,0.5);
  min-height: 100vh;
  padding-top: 30px;
}
body .container .row {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body .container .row .col {
  width: 300px;
  margin-bottom: 20px;
  transition: filter 0.5s;
/* transition-delay: 1s 過一秒才做transition */
}
body .container .row .col:hover {
  cursor: pointer;
/* 滑鼠指標 */
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5);
/* (x軸,y軸,模糊度,陰影半徑) */
  filter: brightness(1.5);
}
body .container .row .col .preview {
  position: relative;
}
body .container .row .col .preview img {
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0;
  transition: all 0.2s ease-in;
}
body .container .row .col .bottom {
  background: rgba(0,0,0,0.6);
  height: 131px;
  padding: 15px;
  display: flex;
  align-items: center;
}
body .container .row .col .intro {
  color: #fff;
}
body .container .row .col .intro .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 151px;
}
body .container .row .col .logo {
  width: 100px;
  height: 100px;
  overflow: hidden;
/* 超出範圍隱藏 */
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
body .container .row .col .logo img {
  width: 100%;
  position: relative;
  transition: all 0.2s ease-in;
}
body .container .row .col .logo img:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img/404_preview-320x180.jpg");
}
body .placehoder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 168px;
  background: url("./img/404_preview-320x180.jpg");
}
/*
.flex 
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
 */
